/*
    Maybe should have
    div.rowTop
    div.rowMiddle
    div.rowBottom classes for putting borders on rows.
    (instead of panelTop panel and panelBottom)
    
    then we could have
    div.rowTop > div.panelTop, div.rowTop > div.panel, div.rowTop > div.panelBottom,
    div.row    > div.panelTop, div.row    > div.panel, div.row    > div.panelBottom,
    div.rowBottom > div.panelTop, div.rowBottom > div.panel, div.rowBottom > div.panelBottom
    {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 40px;
        padding-right: 40px;
        background-color: white;
        overflow: auto;
    }
    
    Actually, I think that is already taken care of by:
    div.panelTop, div.panelBottom, div.panel {
        /* same stuff as above */
    }
*/

div.panelTop {
    border-top: 2px solid black;
    border-left: none;
    border-right: none;
}
div.panel {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;    
}
div.panelBottom {
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
}
div.panelTop, div.panelBottom, div.panel {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    overflow: auto;

}
div.cellTop {
    border-top:    2px solid black;
    border-left:   2px solid black;
    border-right:  2px solid black;
    border-bottom: 1px solid black;
    border-radius: 5px 5px 0 0;
    overflow: auto;
}
div.headerCell{
    background-color: grey;
    color: black;
}
div.cell{
    border-top:    1px solid black;
    border-left:   2px solid black;
    border-right:  2px solid black;
    border-bottom: 1px solid black;
    background-color: lightgrey;
    overflow: auto;
}
div.cellBottom{
    border:     2px solid black;
    border-top: 1px solid black;
    background-color: lightgrey;
    overflow: auto;
}
div.roundedBottom {
    border-radius: 0px 0px 5px 5px;            
}

/*
div.panel{
    border-top:    2px solid rgb(0,0,125);
    border-left:   2px solid rgb(0,0,125);
    border-right:  2px solid rgb(0,0,125);
    border-bottom: 2px solid rgb(0,0,125);
    padding: 20px;
    background-color: lightblue;
    overflow: auto;
}
*/
div.content{
    border-top:    2px solid black;
    border-left:   2px solid black;
    border-right:  2px solid black;
    border-bottom: 2px solid black;
    border-radius: 3px 3px 3px 3px;
    background-color: lightgrey;
    overflow: auto;
}
div.separate > div:not(:last-child):not(.cell):not(.cellBottom):not(.cellTop) {
  margin-bottom: 20px;
}
div.separate > div:not(:first-child):not(:last-child):not(.cell):not(.cellBottom):not(.cellTop) {
  margin-bottom: 20px;
  margin-top: 20px;
}
div.separate > div.cellTop:not(:first-child) {
  margin-top: 20px;
}
div.separate > div.cellBottom:not(:last-child) {
  margin-bottom: 20px;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
body {
    background-color: black;
    padding-top: 56px;
}

.vertical-center {
 display: table-cell;
 float: none;
 vertical-align: middle;
}

li.active {
    background-color: darkgrey;
}
#carousel{
    background-color: rgba(0,0,0,0.5);
    border: 2px solid black; 
    border-radius: 5px;
}

p {
    padding-top: 1em;
}
